footer {
    position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    p {
        font-family: 'Oswald', sans-serif;
        font-size: 1.3rem;
        letter-spacing: .5rem;
        text-align: right;
    }
}